<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>METANIT.COM</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Send" >
</form>
</body>
</html>{% extends "base.html" %}

{% block title %}
    {{ block.super }}: News
{% endblock title %}

{% block content %}
        <h1>RiffMates News</h1>
        <ul>
            {% for item in news %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'credits' %}">Credits</a>
{% endblock content %}
